@font-face {
	font-family: 'Megrim';
	src: url('/fonts/Megrim-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Lombok */
/* @font-face { */
/* font-family: 'Lombok'; */
/* font-weight: 400; */
/* font-style: normal; */
/* src: url('/fonts/Lombok.otf') format('opentype'); */
/* } */